.contacts {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.contacts ul {
  padding: 0;
  flex-direction: row;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contacts ul li {
  list-style-type: none;
}